/* AUTH MODAL WRAPPER  */
.authModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.authModal .modalContainer {
    /* background: #FFFFFF; */
    background: linear-gradient(to left , #FFFFFF 98% ,transparent 2%);
    display: flex;
    overflow: hidden;
    font-family: var(--font-main);
}


/* Variants AuthModel size start */
.authModal .register {
    width: 1073px;
    height: 665px;

}

.authModal .login,
.authModal .forgetPassword,
.authModal .sendCode {
    width: 800px;
    height: 356px;
    border-radius: 12px;
}

/* Variants AuthModel size end */

/* LEFT SIDE */

.authModal .modalLeft {
    width: 45%;
    background: linear-gradient(90deg, #1A0B60 0%, #2618A9 50%, #2A36A5 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.authModal .modalImage {
    object-fit: contain;
    background: radial-gradient(40% 40% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%)
}

/* Variants Image Size */

.authModal .register-left-image .modalImage {
    width: 399px;
    height: 399px;
}

.authModal .login-left-image .modalImage,
.authModal .forgetPassword-left-image .modalImage,
.authModal .sendCode-left-image .modalImage {
    width: 201px;
    height: 201px;
}

.authModal .modalLeft h2,
.authModal .modalLeft p {
    color: #FFFFFF;
    text-align: center;

}

.authModal .register-left-image h2 {
    font-size: 24px;
    font-weight: 500;

}

.authModal .login-left-image h2,
.authModal .forgetPassword-left-image h2,
.authModal .sendCode-left-image h2 {
    font-size: 16px;
    font-weight: 500;
}

.authModal .register-left-image p {
    font-size: 18px;
    width: 90%;
    color: #ffffff70;
}

.authModal .login-left-image p,
.authModal .forgetPassword-left-image p,
.authModal .sendCode-left-image p {
    font-size: 14px;
    width: 90%;
    color: #ffffff70;
}


/* RIGHT SIDE */

.authModal .modalRight {
    width: 55%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authModal .sendCode-form div{
    width: 100%;
}


/* HEADER */
.authModal .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Variants Header Size */
.authModal .register-title h2 {
    font-size: 32px;
    /* font-weight: 500; */
}

.authModal .login-title h2,
.register-title h2,
.forgetPassword-title h2,
.sendCode-title h2 {
    font-size: 24px;
}


.authModal .closeBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.authModal .closeBtn:hover {
    color: red;
}

/* BODY */

.authModal .modalBody {
    margin-top: 10px;
    flex: 1;
    overflow-y: auto;
}

/* FORM STYLES */
.authModal .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.authModal .row {
    display: flex;
    gap: 10px;
}

.authModal .row>div {
    flex: 1;
}

.authModal .full-width {
    width: 100%;
}

.authModal .modalRight label {
    display: block;
    color: #000000;
}

.authModal .register-space label {
    margin: 24px 0px 8px 0px;
    font-weight: 500;
}


.authModal .login-space label , .authModal .forgetPassword-space label , .authModal .sendCode-space label{
    margin: 12px 0px 12px 0px;
    font-size: 18px;
    font-family: var(--font-main);

} 


.authModal input,
.authModal select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #939292;
    outline: none;
    font-size: 14px;
    font-family: var(--font-main);

}

.authModal select {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: transparent;
    -webkit-appearance: none;
    background-image: url("../../assets/images//CaretDown.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.authModal .login-form input , .authModal .login-form select , .authModal .forget-password-form input ,  .authModal .forget-password-form select {
    font-size: 12px;
    font-family: var(--font-main);
}

.authModal .login-form label , .authModal .forgetPassword-form label  {
    margin: 12px 0px 12px 0px;
    font-size: 16px;   
    font-family: var(--font-main);
}

.authModal input:hover,
.authModal select:hover {
    border-color: var(--fontColor);
}

.authModal .error {
    color: rgb(236, 77, 77);
    font-size: 12px;
    font-family: var(--font-main);
}

.authModal .link {
    color: #1682E7;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-main);
}

.authModal .link-login,
.authModal .link-forget,
.authModal .link-sendCode {
    color: #1682E7;
    cursor: pointer;
    text-decoration: none;
    size: 14px;
    font-family: var(--font-main);
}
.dontReceiveCode {
    color: #9CA3AF !important;
    font-size: 14px;
}

.authModal .disclamer {
    color: #939292;
    font-size: 16px;
    font-family: var(--font-main);
}

.authModal .disclamer-reg {
    color: #000000;
    font-size: 18px;
}

.authModal .disclamer-login {
    color: #9CA3AF;
    font-size: 16px;

}

.authModal .disclamer-forget,
.authModal .disclamer-sendCode {
    color: #9CA3AF;
    font-size: 12px;
    font-family: var(--font-main);
}

/* LOGIN HELP */

.authModal .needHelp {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


.authModal .sendCodeInputContainer {
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: space-between;
    margin: 18px 0px 18px 0px ;
}

/* Send Code  */
.authModal .sendCodeBox {
    width: 40px;
    height: 28px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #939292;
    border-radius: 4px;
}