

@media (max-width: 768px) {
  .sideCard {
    width: 300px;
    height: auto;
    position: absolute;
    top: 100px;
    float: left;

  }
}

@media (max-width: 480px) {
  .sideCard {
    position: absolute;
    top: 70;  
    height: auto;
    left: 0px;
  }
}