*{ margin: 0; padding: 0; box-sizing: border-box;}
@font-face {
    font-family: "Aeonik Regular";
    src:  url("/src/assets/Fonts/Aeonik\ Regular.woff2")format("woff2"),
}

/* Gobal Variables Start */
:root {
  --primary-color: #0C0E22;
  --secondary-color: #151639;
  --whiteColor: #fff;
  --fontColor: #DCE8F3;
  --font-main: 'Aeonik Regular';
}
/* Gobal Variables Start */


/* Hero Banner start */
main .HeroBanner{height: 698px; background: url('./assets/images/HeroBanner.png') top center / cover no-repeat; margin-top: -136px; clip-path: ellipse(85% 100% at 50% 0); display: flex; justify-content: center; align-items: center;}
main .container{width: 1440px; margin: 0 auto;}
.HeroBanner h1{ color: var(--whiteColor); font: 500 54px/64px var(--font-main); text-align: center;}
.HeroBanner p{color: #DCE8F3; font: 300 18px/28px var(--font-main); text-align: center; padding: 10px 0px 20px;}
/* Hero Banner End*/