/* Visualization Start*/
.viz-container { display: flex; flex-direction: column; align-items: center; position: relative;} 
.viz-shift-control{position: absolute; z-index: 99; padding: 10px 15px; top: 10px; background: #fff; gap: 20px; display: flex; border-radius: 5px; border: solid 1px #D9D9D9;}
.viz-card-wrapper { padding: 20px;} 
/* controls */
.viz-controls { display: flex; gap: 12px; padding: 10px 16px; background: #fff; border-radius: 10px;} 
.viz-controls img { width: 28px; cursor: pointer; }
.activeControl { transform: scale(1.2); opacity: 0.8; background-color: yellow; border-radius: 5px; } 
/* map */
.viz-map { width: 100%; max-width: auto; height: 450px; background: #7187a8; position: relative; overflow: hidden; }
/* transform wrapper */
.viz-transform { position: absolute; width: 100%; height: 100%; }
/* svg */
.viz-svg { position: absolute; width: 100%; height: 100%; }
/* node */
.viz-node { position: absolute; width: 60px; height: 60px; background: linear-gradient(90deg, #1A0B60 0%, #2618A9 50%, #2A36A5 100%); border-radius: 50%; display: flex; align-items: center; justify-content: center; border: 4px solid #5A3CDD; cursor: grab; }
.viz-node img { width: 24px; }
.viz-node { display: flex; flex-direction: column; align-items: center; } 
.viz-node div{ position: relative; top: 30px; color: #2D3A51; font-size: 18px; }
.viz-node img { position: relative; top: 10px; }
/* Visualization End*/



@media (max-width: 768px) {
 .viz-controls { gap: 32px; padding: 8px; }
 .viz-controls img { width: 24px; margin-top: 10px; }
}


@media (max-width: 480px) {
  .viz-controls { gap: 8px; padding: 8px; } 
  .viz-controls img { width: 24px; margin-top: 10px; }
  .viz-map{ left: 0px;  }
  .viz-svg{ left: 0px;  }
}